#profile-posts {
  margin-top: 50px;
}

#profile-posts .content-card {
  background-color: var(--grayscale_1);
}

.profile-post-results {
  margin-top: 16px;
}

.post-author-avatar {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--grayscale_2);
  height: 75px;
  width: 75px;
  min-width: 75px;
}

.post-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.post-author-avatar img {
  height: 100%;
  width: 100%;
}

.post-author-info {
  width: 100%;
  margin-left: 24px;
}

.post-publication-info {
  font-size: 14px;
  width: 100%; 
  color: var(--deepSmoke);
  margin-top: 2px;
}

.post-author-info > :first-child {
  margin-bottom: 8px;
}

/* SKELETON LOADING */
.post-content.skeleton-block {
  height: 125px;
  margin-bottom: 8px;
}

.show-more-button {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: var(--midnightBlack);
  background-color: transparent;
  text-align: right;
  font-weight: bold;
  text-decoration: underline;
  width: 100%;
  text-align: right;
}

.show-more-button:hover {
  cursor: pointer;
}

.post-author-avatar-initials {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}